__pycache__/
*.py[cod]
.DS_Store
Thumbs.db
Desktop.ini
.env
.mypy_cache/
.nox/
.pytest_cache/
.ruff_cache/
.tox/
*.sqlite
*.sqlite-journal
*.sqlite-shm
*.sqlite-wal
*.sqlite3
*.db
.coverage
htmlcov/
build/
dist/
canonical-dist/
staging-dist/
*.egg-info/
*.whl
.venv/
